<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bid-Aero</title>
  <link rel='shortcut icon' href='favicon.ico?v=2'/>
  <!-- Material Design Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Material Design Bootstrap -->
  <link href="css/mdb.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

</head>

<body>


  <!-- SCRIPTS -->

  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery.min.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>

  <!-- Material Design Bootstrap -->
  <script type="text/javascript" src="js/mdb.js"></script>


</body>

<header>
  <!--Navigation-->
  <nav class="navbar navbar-fixed-top z-depth-1" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#about" class= "page-scroll">About</a></li>
          <li><a href="#contact"class= "page-scroll">Contact</a></li>
          <li><a href="http://bid-aero.herokuapp.com">View Demo Site</a></li>
          <li><a class="pull-right"class= "page-scroll"><img src="css/img/whitecapslogo.png"></a></li>
        </ul>

      </div>
    </div>
  </nav>
  <!--/.Navigation-->
</header>
<!-- Section: Intro -->
<section class="full-bg-img">
  <div class="view">
    <div class="mask rgba-black-light">
      <div class="container">
        <div class="verticalcenter text-center white-text">
          <div class="container">
            <img src="css/img/whitecapslogo.png" class="img-responsive">
          </div>
          <h3>Revolutionizing the Sourcing and Procurement Process</h3>
          <!--Call to action buttons-->
          <a href="#contact" class="btn btn-primary waves-effect waves-light page-scroll"><i class="fa fa-envelope-o right"></i>Contact me</a>
          <a href="#about" class="btn btn-default waves-effect waves-light page-scroll"><i class="fa fa-book right"></i>Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>
<main>
  <!--Main Container-->
  <div class="container">

    <!--Section: About-->
    <section id="about">
      <div class="divider-new">About</div>

      <div class="row">
        <div class="col-md-12 text-center">
          <div class= "container">
            <div class="verticalcenter img-responsive">
              <img src="css/img/bidaeronavycapslogo.png">
            </div>
          </div>
          <p>Bid.aero is an online platform designed to foster the growth of aviation businesses. Our reverse auction model ensures that buyers will receive optimal prices, and that suppliers will be able to sell at a higher volume.</p>
          <br>
          <h3> Services for Buyers </h3>
          <p>Buyers can open an auction for a specific part. Auctions are visible only to Suppliers who have the associated part listed in their inventory. Once the buyer wishes to select the optimal bid, they can close the auction and pay for the part. However, if the buyer is unsatisfied with the bids placed, they can close the auction and not make any purchases.</p>
          <h3> Services for Suppliers </h3>
          <p>Suppliers can upload their inventory to our database and will receive an invitation to bid when an auction opens for a part that they wish to sell. Once invited, a supplier can make bids to win the sale. Within the auction, suppliers can view all the bids placed on that auction, equipping them with valuable information. With their inventory uploaded on bid.aero, suppliers will never run into a shortage of opportunities to sell.</p>
        </div>

      </section>
    </div>
  </div>
    <!--Form-->
  <form action="/submit" method="POST">
  	Your Name: <input type="text" name="model[name]"  />
    Your Email: <input type="text" name="model[email]" />
    Your Company: <input type="text" name="model[company]"  />
  	<input type="submit" value="Submit" />
  </form>

    <section id="contact">
      <div class="divider-new">Contact us</div>

      <div class="row">
        <div class="text-center">
          <ul class="contact-data">
            <li><a href="mailto:info@bid.aero" <a class="btn-floating btn-small waves-effect waves-light blue-grey"><i class="material-icons">email</i></a>
              <p>info@bid-aero.com</p>
            </li>

          </ul>
        </div>
      </div>
      <!--/.Main Container-->
    </main>

    <footer>
    </footer>

    </html>
